*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #172B4D;
}

.bg{
    margin: auto;
}
.content{
    background-image: url(IMG/IMG-20250507-WA0079-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}
.nav{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    a{
        padding: 15px;
        text-decoration: none;
        color: rgb(2, 2, 59);
    }
    a:hover{
        font-size: larger;
        color: blue;
    }
}
.intro{
    width: 100%;
    padding: 40px;
    line-height: 2;
    text-wrap: wrap;
    word-wrap: break-word;
    margin: auto;
    font-size: 20px;
}
h2{
    
    color:rgb(7, 192, 7)
}
h3{
    justify-self: center;
    color: rgb(2, 2, 59);
}
.icons i{
    margin-left: 15px;
}
.icons i:hover{
    font-size: larger;
    cursor: pointer;
}
.next{
    margin-top: 20px;
    margin: auto;
    padding: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);

    div{
        background-color:#C5E9DA;
        width: calc(33.33% - 40px); 
        margin: 8px;
        text-align: center;
        line-height: 1;
        font-size: small;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button{
    padding: 5px;
    color: green;
    background-color: white
  }
}
button.btn:hover{
    cursor: pointer;
}

.about{
    background-image: url(IMG/IMG-20250507-WA0082-removebg-preview.png), url(IMG/IMG-20250507-WA0081-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 100px;
    padding-top: 50px;
    text-align: center;
}
.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.flex-container1 > div {
   /* background-color: rgba(0, 255, 106, 0.226); */
   background-color: #C5E9DA;
   height: 280px;
   margin: 8px;
   text-align: center;
   line-height: 1;
   font-size: small;
   border-radius: 8px;

   button{
    padding: 10px;
    box-shadow: none;
    
   }
   
}
.myform{
    display: flex;
    flex-wrap: wrap;
    background: url(IMG/IMG-20250507-WA0083-removebg-preview.png), url(IMG/IMG-20250507-WA0085-removebg-preview.png),
    url(IMG/IMG-20250507-WA0084-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: left bottom,right bottom, center bottom;
    background-size: 100px;
    justify-content: end;
    align-items: center;

    
}
    .p {
        width: 29%;
        line-height: 1.8;
        font-size: 20px;
    }
.forms {
    width: 48%;
    border-radius: 10px;
}
.forms input{
    margin: 3px;
    padding: 08px;
}

footer{
    margin: auto;
    padding: 50px;
    text-align: center;
    .icons i{
        margin-left: 10px;
    }
    .icons i:hover{
        font-size: larger;
        cursor: pointer;
    }
}

.card{
    width: 60%;
    background-color: rgba(128, 128, 128, 0.44);
    position:fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    visibility: hidden;
    flex-wrap: wrap;
} 

.open-Popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
#openPopup{
    cursor: pointer;
}
.pop{
    margin: auto;
    background-color: white;
    width: 70%;
}
.closebtn{
    display: flex;
    justify-content: end;
    margin: 20px;
    right: 20px;
}
#close{
    color: red;
    padding-top: 30px;
    right: 20px;
    font-size: 24px;
    align-content: flex-end;
    cursor: pointer;
}

.image{
    margin: auto;
    padding: 08px;
}

.flex{
    display: flex;

h3{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
    font-weight: bold;
}}
.desc{
    width: 60%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;

    button{
        font-size: 10px;
        padding: 1px;
        margin: 0.5px;
        background-color: rgba(0, 255, 106, 0.226);
        color: #333;
        font-weight: bold;
    }
}
.buttons{
    justify-content: end;
    width: 40%;
    padding: 10px;
    margin: 5px;
    float: right;
  

    button{
        flex-wrap: wrap;
        font-size: 15px;
        padding: 5px;
        margin: 5px;
        background-color: darkgreen;
        color: white;
        justify-content: end;
        float: right;
        border-radius: 5px;
    }
}
